appstatus {
  display: block;
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2px;
  padding-left: 30px;
  background-image: url(/images/disconnect.png);
  background-repeat: no-repeat;
  background-position: 6px 13px;
  background-color: #222;
  color: white;
  font-size: 1.6em;
  line-height: 1.6em;
}

appstatus.backfilling {
  background-image: url(/images/spinner.gif);
}

appstatus.realtime {
  background-image: url(/images/connect.png);
}

testruns {
  display: block;
  overflow-y: scroll;
  position: fixed;
  top: 44px;
  bottom: 163px;
  left: 0;
  right: 0;
}

testrun {
  display: block;
}

testrunsummary {
  display: block;
  margin: 3px;
  border: 1px solid #aaa;
  left: 0;
  right: 0;
  padding: 3px;
  padding-left: 25px;
}

testrunsummary started, testrunsummary statistics {
  display: block;
}

/* TODO icons for these */
testrunsummary.Running {
  background-image: url(/images/spinner.gif);
  background-repeat: no-repeat;
  background-position: 3px 4px;
}

testrunsummary.Success {
  background-color: lightgreen;
}

testrunsummary.Failed {
  background-color: #FFBBBB;
}

eventlog {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 160px;
  border-top: 3px solid black;
  overflow-y: scroll;
}

testevent {
  display: block;
  border-bottom: 1px solid black;
  line-height: 1.3em;
  padding-top: 2px;
  padding-bottom: 2px;
}

testevent timestamp {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

testevent.testFault {
  background-color: #FFBBBB;
}

faults {
  display: inline-block;
  width: 45%;
  top: 0px;
}

fault {
  display: block;
  border: 2px solid red;
  background-color: red;
  color: white;
  padding: 3px;
  margin: 5px;
  border-radius: 5px;
}

fault:hover {
  cursor: pointer;
}

fault:hover, fault.selected {
  border-color: white;
}

/* pure state - probably should move this to data rather than html */
fault detail {
  display: none;
}

/* displayed backtrace */
/* TODO nice vertical alignment (with bounding box) with matching test */
activefaultdetail {
  display: block;
  float: right;
  width: 50%;
  margin-right: 20px;
  padding: 7px;
  white-space: pre-wrap;
  font-size: 0.9em;
  font-family: Courier;
  border: 2px solid white;
  color: white;
  background-color: black;
}